@model _Models.EF.CustomerAccount
@using BotDetect.Web.Mvc;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        .form-horizontal {
        padding:20px;   
        }
        .form-group label {
            clear:both;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            margin-top:20px;
            background: #FFF;
        }
        .form-group input, .form-group select {
            display: block;
            width: 80%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            margin:10px 0;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
       
    </style>
</head>
<body>
    @{ MvcSimpleCaptcha registerCapcha = new MvcSimpleCaptcha("registerCapcha"); }
    <div class="form-horizontal">
        <h1 style="font-weight:bold; font-size:30px;">Đăng kí thành viên</h1>
        <hr />
        

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @required = "true" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.PassWord, new { @required = "true", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassWord, htmlAttributes: new { @required = true, @type = "password", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassWord, new { @required = "true", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassWord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("gioiTinh", new SelectList(new string[] { "Nam", "Nữ" }))
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TelephoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TelephoneNumber, new { @required = "true", @class = "form-control", @type = "number" })
                @Html.ValidationMessageFor(model => model.TelephoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.SimpleCaptcha(registerCapcha)
                @Html.TextBox("CaptchaCode")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="a" style=" width:300px;" value="Tạo tài khoản" class="btn btn-default" />
            </div>
            <style>
                #a:hover {
                border:3px solid #55d076  ;
                cursor:pointer;
                }
            </style>
        </div>
    </div>
    @if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"]);
    }
   
</body>
</html>
